.falling-word {
    position: absolute;
    top: 0;
    animation-name: fall;
    animation-timing-function: linear;
}

@keyframes fall {
    0% {
        top: 0;
    }
    100% {
        top: 100vh;
    }
}
